@import url("https://fonts.googleapis.com/css?family=Work+Sans");

:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  font-family: "Work Sans", sans-serif;
}

a {
  text-decoration: none;
}

/* Header & Nav */

header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 3rem 3rem;
  max-width: 102rem;
  font-size: 1.5rem;
}

.header-logo {
  display: flex;
  gap: 1.4rem;
  align-items: center;
}

header img {
  height: 2rem;
}

li {
  list-style: none;
}

.header-nav ul {
  display: flex;
  gap: 1.4rem;
}

/* Main Content */

main {
  /* viewport height - header height - footer height */
  min-height: calc(100vh - 80px - 65px);
  max-width: 102rem;
  margin: 0 auto;
}

/* Intro Text */
.hero {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 5rem 3rem;
}

/* .hero div {
  align-self: flex-end;
} */

h1 {
  font-weight: bold;
  margin-bottom: 2rem;
}

.intro {
  font-size: 1.6rem;
  font-weight: 100;
  margin-bottom: 4rem;
}


/* Button Styling */

a.button {
  text-transform: uppercase;
  background: #000;
  color: #fff;
  font-size: 1.4rem;
  padding: 0.8rem;
  display: flex;
  gap: 0.33rem;
  align-items: center;
  width: fit-content;
}

a.button img {
  height: 20px;
  transform: translateY(1px);
}

/* Images */
.article-section {
  padding: 0 3rem;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  height: 40rem;
  width: 30rem;
  padding: 30px;
  font-size: 12px;
  color: #fff;
  background-size: cover;
  background-position: center;
}


.article-1 {
  background-image: url("./images/white-box.jpg");
}

.article-2 {
  background-image: url("./images/room.jpg");
  background-position: left center;
}

.article-3 {
  background-image: url("./images/black-white.jpg");
}

article h2 {
  margin: 4rem 0;
  padding-right: 4rem;
  text-shadow: -5px 0px 20px rgb(47, 47, 47);
}

article img {
  background: #fff;
  border-radius: 50%;
  height: 2rem;
  padding: 5px;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.25);
}

article img:hover {
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 1);
}

/* Footer */

footer {
  display: flex;
  font-size: 1.3rem;
  color: grey;
  padding: 2.5rem;
  justify-content: center;
}