h1 {
  font-family: "PT Serif", serif;
}
.normal {
  font-family: "Times New Roman", Times, serif;
}
p {
  font-family: "Source Serif Pro", serif;
}
* {
  /* font-size: 10px; */
  font-size: 62.5%;
}
#first-section {
  font-size: 0.5rem;
  text-decoration: overline underline double rgb(92, 50, 128);
}
.bigger-font {
  font-size: 2em;
}
